<div class="text-center p-5">
  <h2 class="text-uppercase">How We Get Our Clients Results</h2>
  <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid p-5">
  <h3>Our 7 Day Free Trial</h3>
  <p>We believe that you should be able to experience our coaching with ZERO RISK.</p>
  <p>We take exceptional pride in our training experience at Fitness Studio 46, we’re so confident you’ll love it too that we want you to enjoy the full FS46 experience for a whole week, on us.</p>
  <p>If for some reason, we’re just not the right fit for you, then you lose nothing. In fact, we’ll even recommend some alternatives that may suit your circumstances more. Why? Because our sole purpose is to improve your Health and Fitness.</p>
  <p>Register for a <a href="#" style="color: #796531;">Register for a 7 Day Free Trial</a> now</p>

  <hr>

  <h3 class="text-uppercase">7 day trial - free</h3>
  <p>x2 Covid Secure Training Sessions</p>
  <p>Goal Orientation and Strategy</p>
  <p>Movement Assessment</p>
  <p>Private Members Facebook Group</p>
  <p>Nutrition Masterclass</p>
  <p>Habit Masterclass</p>
  <p>Welcome Gift</p>
  <a class="btn btn-flat p-3 m-5" href="#">Get Started</a>

  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
    <div class="card-trip-infos">
      <div>
        <h2>Our 7 Day Free Trial</h2>
        <p>We believe that you should be able to experience our coaching with ZERO RISK.</p><br/>
        <p>We take exceptional pride in our training experience at Fitness Studio 46, we’re so confident you’ll love it too that we want you to enjoy the full FS46 experience for a whole week, on us.</p><br/>
        <p>If for some reason, we’re just not the right fit for you, then you lose nothing. In fact, we’ll even recommend some alternatives that may suit your circumstances more. Why? Because our sole purpose is to improve your Health and Fitness.</p><br/>
        <p>Register for a <a href="#" style="color: #796531;">Register for a 7 Day Free Trial</a> now</p><br/>
      </div>
    </div>
  </div>
  <br>

  <div class="d-flex justify-content-center">
    <div class="card-trip" style="width: 50%;">
      <div class="card-trip-infos ">
        <div>
          <h2 class="text-uppercase">7 day trial</h2><br/>
          <p>x2 Covid Secure Training Sessions</p><br/>
          <p>Goal Orientation and Strategy</p><br/>
          <p>Movement Assessment</p><br/>
          <p>Private Members Facebook Group</p><br/>
          <p>Nutrition Masterclass</p><br/>
          <p>Habit Masterclass</p><br/>
          <p>Welcome Gift</p><br/>
          <a class="btn btn-flat p-3 m-5" href="#">Get Started</a>
        </div>
        <h2 class="card-trip-pricing">FREE</h2>
      </div>
    </div>
  </div>
</div>


